<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Volume Level Heatmap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="description" content="This shows a heatmap of volume intensities measured by a swarm of microphones.">
  <meta http-equiv="refresh" content="5">
  <link rel="stylesheet" href="./static/commons.css">
  <link rel="stylesheet" href="./static/example-commons.css">
  <style>
    #share {
      display:none;
      float:right;
      font-size:14px;
      line-height:170%;
    }
    .symbol {display:inline !important; float:right;}
  </style>
</head>
<body>
  <div class="wrapper">
    <h1>Volume Level Heatmap</h1>

      <br style="clear:both">

    <div class="demo-wrapper">
      <div class="heatmap" style="position: relative;width:800px;height:{{ heatmap_y }}px"></div>

    </div>

  <script src="./static/heatmap.min.js"></script>
  <script>
    window.onload = function() {

      var heatmapInstance = h337.create({
        container: document.querySelector('.heatmap')
      });

      // Insert the JSON string containing heatmap data, passed
      // from our web service.
      var data = {{ json_data | safe }};
      heatmapInstance.setData(data);

      document.querySelector('.trigger-refresh').onclick = function() {
        heatmapInstance.setData(generateRandomData(200));
      };

    };
  </script>
</body></html>
